html {
	/* Font Styles */
	font-family: "DM Serif Display", serif;
	font-family: "Montserrat", sans-serif;

	margin: 0;
	padding: 0;
}

body {
	background-color: #fff2eb;
	display: grid;
	grid-template-rows: 10vh 80vh 10vh;
	grid-template-columns: 10vw 40vw 40vw 10vw;
	grid-template-areas:
		" .  header navbar .  "
		" . main main  . "
		". footer footer . ";
	max-height: 100%;
	max-width: 100%;
}

main {
	grid-area: main;
	align-self: center;
	justify-self: center;

	/* content css */
	text-align: justify;
}

main h3 {
	font-family: DM Serif Display;
	color: #47503f;
	font-size: 32px;
}

header {
	grid-area: header;
	align-self: center;
	justify-self: left;

	/* content styling */
	font-family: DM Serif Display;
	font-size: 24px;
}

header a {
	text-decoration: none;
	color: #47503f;
}

header a:link {
	color: white;
	color: #47503f;
}

header a:visited {
	color: yellow;
	color: #47503f;
}

.navbar {
	grid-area: navbar;
	justify-self: right;
	align-self: center;
	display: flex;
	position: sticky;
}

.navbar ul {
	list-style: none;
	text-decoration: none;
	display: flex;
}

.navbar li {
	padding-left: 30px;
}

.navbar a {
	text-decoration: none;
	color: #bd632f; 
}


footer {
	grid-area: footer;
	align-self: center;
	justify-self: center;

	/* content-related */
	font-size: 14px;
}
