/* Global CSS values */
html {
	/* Font Styles */
	font-family: "DM Serif Display", serif;
	font-family: "Montserrat", sans-serif;
	height: 100vh;
}

body {
	background-color: #fff2eb;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 2vw auto auto 2vw;
	grid-template-areas:
		" .  header navbar .  "
		" . main main  . "
		".  footer footer . ";
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
}

main {
	grid-area: main;
	align-self: center;
	justify-self: center;

	/* content css */
	text-align: justify;
}

main p {
	font-size: 1em;
}

main h3 {
	font-family: DM Serif Display;
	color: #47503f;
}

main a {
	text-decoration: none;
	color: #47503f;
}

main a:hover {
	color: #5a2f20;
}

main ul {
	list-style: none;
	text-decoration: none;
}

/* single page styling */

.single-page-wrapper {
	padding-left: 15%;
	padding-right: 15%;
}

/* about page styling */

.about-wrapper {
	padding-left: 15%;
	padding-right: 15%;
}

/* work page listing at homepage */

.worklist {
	grid-area: main;
	place-self: center;

	/* styling */
	font-family: DM Serif Display;
}

.worklist ul {
	padding: 0;
	text-align: center;
}

.worklist li {
	padding-top: 1.25em;
	text-decoration: none;
	list-style: none;
}

.worklist a {
	text-decoration: none;
	list-style: none;
	color: #47503f;
	font-size: 3em;
}

.worklist a:hover {
	opacity: 120%;
}

.worklist .hovercontainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.worklist img {
	opacity: 0;
	height: 0;
	position: absolute;
	transition: opacity 1s ease-out;
	z-index: -1;
}

.worklist a:hover ~ img {
	width: 25em;
	display: inline-block;
	opacity: 1;
	height: auto;
}

/* hover image for 4k displays */

@media only screen and (min-width: 2160px) {
	.worklist a:hover ~ img {
		width: 56.25em;
		height: auto;
	}
}

/*  work page styling */

.work-content {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 50% 50%;
	grid-template-areas: " body image-carousel";
	max-width: 100vw;
	align-items: center;
}

.work-content .body {
	grid-area: body;
}

.work-content p {
	font-size: 0.875em;
}

.image-carousel {
	grid-area: image-carousel;
	padding-left: 5%;
	max-width: 50vw;
}

.image-carousel img {
	max-width: 100%;
	align-items: center;
}

.image-carousel .glide__arrow {
	border: transparent;
}

.image-carousel .glide__arrow .glide__arrow-left {
	size: 3.125em;
}

header {
	grid-area: header;
	align-self: center;
	justify-self: left;

	/*	text  styling */
	font-family: DM Serif Display;
	font-size: 1em;
}

header a {
	text-decoration: none;
	color: #47503f;
}

header a:link {
	color: #47503f;
}

header a:visited {
	color: yellow;
	color: #47503f;
}

nav {
	grid-area: navbar;
	justify-self: right;
	align-self: center;
	display: flex;
	position: sticky;
}

nav ul {
	list-style: none;
	text-decoration: none;
	display: flex;
}

nav a {
	text-decoration: none;
	color: #47503f;
	padding-left: 1.875em;
	font-size: 1em;
}

footer {
	grid-area: footer;
	place-self: center;
	color: #bd632f;
	padding-top: 5vh;
	padding-bottom: 2vh;

	/* content-related */
	font-size: 0.875em;
}

/* for mobile phones etc. */
@media only screen and (max-width: 640px) {
	body {
		display: grid;
		grid-template-rows: auto auto 1fr auto;
		grid-template-columns: 5vw 1fr 5vw;
		grid-template-areas:
			". header . "
			". navbar . "
			". main . "
			". footer .";
		margin: 0;
		padding: 0;
	}

	header {
		place-self: center;
	}
	nav {
		place-self: center;
		font-size: 0.9em;
		display: flex;
		justify-content: space-between;
	}

	nav ul {
		padding: 0;
	}

	nav li {
		display: inline-block;
	}

	nav a {
		text-align: center;
		padding: 0.625em;
	}

	.worklist {
		place-self: center;
		max-width: 100%;
		max-height: 100vh;
	}

	.worklist a {
		font-size: 1.7em;
	}

	.work-content {
		margin: 0;
		padding: 1vw;
		grid-template-rows: auto 1fr;
		grid-template-columns: 1fr;
		grid-template-areas:
			"image-carousel"
			"body";
	}

	.image-carousel {
		place-self: center;
		max-width: 75vw;
		padding: 0;
	}

	.about-wrapper {
		padding: 5vw;
		font-size: 0.9em;
	}

	footer {
		font-size: 0.6em;

}
